.App {
  background-color: var(--search_background);
  padding: 4rem 2rem;
  width: 22rem;
  border-radius: 1rem;
}

@media (min-width: 499px) {
  .App {
    width: 27rem;
  }
}

@media (min-width: 768px) {
  .App {
    width: 35rem;
    padding: 4rem;
  }
}
